* {
	font-size: 18px;
	margin: 0;
	box-sizing: border-box;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
	padding-top: 15px;
}
h3 {
	font-size: 1.3rem;
}
html {
	font-family: 'Bree Serif', serif;
}
nav {
	position: fixed;
	width: 100%;
	color: #F0E5CF;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	align-items: center;
	background-color: #4B6587;
}
footer {
	bottom: 0;
	width: 100%;
	font-family: 'Bree Serif', serif;
	font-size: 1.25rem;
	color: #F0E5CF;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	align-items: center;
	background-color: #4B6587;
	justify-content: space-around;
}
a {
	color: #F7F2E7;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 20px;
}
a:hover {
	color: #C8C6C6;
}
img {
	width: 30%;
	/* margin-top: 20px; */
} 
/*each section of the site apart from the nav uses the same container class*/
.content-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 10px;
	overflow: hidden;
	align-items: center;
	max-width: 1100px;
	margin: 20px auto;
}
.content-wrapper p {
	max-width: 500px;
	padding: 20px;
	font-family: 'Exo 2', sans-serif;
	font-size: 1rem;
}
.content-wrapper h1, .content-wrapper h2, .content-wrapper h3 {
	padding: 20px;
}
.introduction {
	padding: 40px 10px;
	background-color: #F0E5CF;
	color: #4B6587;
}
.introduction p {
	text-align: center;
}
/*.icon {
	font-size: 1.25rem;
}*/
.about {
	padding: 40px 10px;
	background-color: #C8C6C6;
	color: #4B6587;
}
/*.image-resize {
	width: 300px;
}
.portfolio {
	padding: 20px 10px;
	background-color: #F7F2E7;
	color: #4B6587;
}
.portfolio .icon {
	color: #4B6587;
}
.contact {
	color: #F0E5CF;
	align-items: center;
	background-color: #4B6587;
}*/
.contact h2 {
	text-align: center;
}
.social-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.icon {
	color: #F0E5CF;
}
/*#returnToTop {
text-align: center;
}*/
@media screen and (max-width: 800px) {
	.project-container {
		flex-direction: column;
	}
}

/* Slideshow container */
.slideshow-container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  height: 542px;
  width: 800px;
  position: relative;
  margin: 20px auto 100px;
  object-fit: cover;
}

.portfolio-images {
	object-fit: cover;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.site-picture {
	width: 100%;
	object-fit: cover;
} 
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.portfolio-caption {
  color: #000;
  font-size: 15px;
  padding: 10px 14px;
  bottom: 10px;
  width: 80%;
  text-align: justify;
  align-content: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}